@media(max-width:575px) {
   /* .description {
      left: 25%;
   } */


}

@media(max-width:410px) {
   .descr_photo3 {
      min-width: 36%;
      top: 9px;
      left: 1%;
      font-size: 18px;
   }

   .descr_photo2 {
      left: 2%;
   }
}

@media(max-width:390px) {
   .descr_photo3 {
      min-width: 35%;
      top: 9px;
      left: 1%;
      font-size: 16px;
   }

   .descr_photo2 {
      left: 2%;
   }
}